<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PHP 7.4.10 CGI" path="*.php" verb="*" modules="FastCgiModule"
                scriptProcessor="C:\PHP-7.4.10\php-cgi.exe" resourceType="File" />
        </handlers>
        <httpErrors errorMode="Detailed" />
        <defaultDocument>
            <files>
                <remove value="Default.htm" />
                <remove value="Default.asp" />
                <remove value="iisstart.htm" />
                <remove value="default.aspx" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="WordPress 1" stopProcessing="true">
                    <match url="^index\.php$" ignoreCase="false" />
                    <action type="None" />
                </rule>

                <rule name="Redirect Media to HTTP" stopProcessing="true">
                    <match url=".*\.(gif|jpg|jpeg|png|pdf|css|js)$" ignoreCase="true" />
                    <action type="Rewrite" url="{R:0}" />
                </rule>

                <rule name="WordPress 2" patternSyntax="Wildcard">
                    <match url="*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>